body {
  margin: 0px;
  padding: 200px;
  padding-top: 0px;
  padding-bottom: 80px;
  background: #000;
  text-align: center; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Space Mono', monospace;
}

p {
  text-align: justify;
}

a {
  font-family: 'Space Mono', monospace;
  color: white; 
  border-color: white;
}

a:hover {
  color: grey;
}

ul {
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  display:table-row;
  text-align: left;
}

div {  
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: left;
  margin: auto;
}

.centered_div {
  text-align: justify;
}

li {
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 30px;
  padding: 20px;
}

img {
  max-width: 100%;
}

.menue:hover {
  color: white;
}

.menue::after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  background: #fff;
  transition: width 0.4s 
}

ul.menue_ul {
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}

ul.menue_ul li a {
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}

.menue:hover::after {
  width: 100%;
  transition: width .4s;
}

.menue_ul {
  list-style-type: none;
}

.menue_li {
  display: inline-block;
}